
<div id="content">
  <ul>
    <% @posts.each do |post| %>
    <li><a href="<%= post['url']%>"><%= post['title']%></a> (<%= post['url']%>)</li>
    <li class ="post-details"><%= post['description'][0..100]%>...<a href="<%= post['url']%>">read more > </a></li>
    <li>comments here </li>
    <%end%>
  </ul>
</div>
